In [13]:
## Problem 1: Unique Words in a Sentence

line_of_words = input("Enter the sentence: ")

words = line_of_words.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter the sentence: hello my name is uday
Unique words count: 5
Unique words: {'uday', 'name', 'is', 'my', 'hello'}

In [14]:
## Highest Salary from Employee Data
corporate_salary_matrix = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
salary_peak_holder = max(corporate_salary_matrix, key=corporate_salary_matrix.get)

print("Highest Salary:", salary_peak_holder, "-", corporate_salary_matrix[salary_peak_holder])

Highest Salary: Ravi - 75000

In [15]:
## Find Maximum and Minimum Values
numeric_sequence_container = [45, 22, 89, 10, 66]
upper_bound_tracker = numeric_sequence_container[0]
lower_bound_tracker = numeric_sequence_container[0]
for numeric_unit in numeric_sequence_container:
    if numeric_unit > upper_bound_tracker:
        upper_bound_tracker = numeric_unit
    if numeric_unit < lower_bound_tracker:
        lower_bound_tracker = numeric_unit
print("List:", numeric_sequence_container)
print("Max:", upper_bound_tracker)
print("Min:", lower_bound_tracker)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [16]:
## Count Products Above a Price Threshold
retail_price_catalog = [450, 1200, 899, 1500, 300]
high_value_item_counter = 0
for price_token in retail_price_catalog:
    if price_token > 1000:
        high_value_item_counter += 1

print("Products above 1000:", high_value_item_counter)

Products above 1000: 2

In [17]:
##Calculate Attendance Percentage
presence_record_series = ["P", "P", "A", "P", "P"]
present_day_counter = presence_record_series.count("P")
total_session_days = len(presence_record_series)
attendance_percentage_value = (present_day_counter / total_session_days) * 100
print("Attendance Percentage:", attendance_percentage_value)

Attendance Percentage: 80.0

In [18]:
##Remove Duplicate Phone Numbers
mobile_contact_archive = [9876543210, 9123456789, 9876543210]
unique_contact_registry = set(mobile_contact_archive)
print("Unique phone numbers:", unique_contact_registry)

Unique phone numbers: {9876543210, 9123456789}

In [19]:
##Count Character Frequency
character_input_payload = "python"
character_frequency_index = {}
for letter_unit in character_input_payload:
    if letter_unit in character_frequency_index:
        character_frequency_index[letter_unit] += 1
    else:
        character_frequency_index[letter_unit] = 1
print(character_frequency_index)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [20]:
## Convert List to Tuple
mutable_number_list = [10, 20, 30]
readonly_data_capsule = tuple(mutable_number_list)
print("Tuple:", readonly_data_capsule)

Tuple: (10, 20, 30)

In [21]:
##Check if a Key Exists in a Dictionary
employee_salary_registry = {
    "Ravi": 75000,
    "Anita": 68000
}
search_identifier_key = "Ravi"
if search_identifier_key in employee_salary_registry:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [22]:
## Calculate Average Marks
student_mark_sheet = [70, 75, 80, 65]
cumulative_score_total = sum(student_mark_sheet)
average_score_output = cumulative_score_total / len(student_mark_sheet)
print("Average Marks:", average_score_output)

Average Marks: 72.5